/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  inset-inline-start: 10px;
  inset-block-end: 3px;
}

.header__decorative {
  position: absolute;
  inset-inline-end: 38px;
  inset-block-start: 10px;
  color: var(--decor-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
}

.header__decorative::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
  margin-inline-start: 10px;
  margin-block-start: 8px;
}

.header__theme-menu {
  justify-self: end;
  margin: 72px 10px 0 0;
}

.header__theme-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-content: space-between;
  align-items: center;
}

.header__theme-menu-button {
  background: transparent;
  padding: 1.5px 13px;
  text-transform: lowercase;
  color: var(--accent-color-text);
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color-text);
}

.header__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block: 65px 52px;
  margin-inline: 10px;
}

.header__description {
  max-inline-size: 355px;
  align-self: flex-start;
  line-height: 1.3;
  margin: 0 10px 0 10px;
}

.title-decor {
  background-color: var(--title-decor-bg);
  color: var(--subheading-color);
  font-weight: 700;
}

.content__section:first-child {
  margin-top: 46px;
}

.content__section {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  margin-inline: 10px;
  margin-top: 50px;
}

.section__title {
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-color-text);
  max-inline-size: 355px;
}

.content__article {
  margin: 20px 0 0 0;
}

.content__article p {
  margin: 0;
}

.content__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.link {
  text-decoration: none;
}

.advice-title {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.gallery {
  margin: 50px 10px 0 10px;
}

.gallery__grid {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 668px;
  margin-top: 40px;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer.decorated-zone::after {
  inset-block-end: 11px;
}

@media (min-width: 768px) {
  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 16px;
    inset-inline-start: 20px;
  }

  .header__decorative {
    inset-inline-end: 48px;
    inset-block-start: 20px;
    line-height: calc(25 / 18);
  }

  .header__theme-menu {
    margin: 190px 20px 0 0;
  }
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block: 170px 162px;
    margin-inline: 0;
  }

  .header__description {
    justify-self: end;
    margin-inline: 0 20px;
    min-inline-size: 364px;
  }

  .content__section {
    margin: 80px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .content__section:first-child {
    margin-top: 65px;
  }

  .section__title {
    grid-column: 1;
  }

  .content__section:first-child .content__article {
    margin: 0;
    grid-column: 2;
  }

  .content__section:nth-child(2) {
    display: block;
    max-inline-size: 100%;
  }

  .content__section:nth-child(2) .section__title {
    max-inline-size: 236px;
  }

  .content__section:nth-child(2) .content__article {
    margin: 20px 0;
  }

  .content__section:nth-child(3) .content__title {
    margin-bottom: 20px;
  }

  .content__section:nth-child(3) .content__article {
    grid-column: 2;
    margin-top: 0;
    margin-bottom: 0;
  }

  .advice-title {
    margin-top: 0;
  }

  .gallery {
    margin-inline: 20px;
    margin-block-start: 0;
  }

  .gallery .content__title {
    margin-bottom: 20px;
  }

  .gallery__grid {
    width: 728px;
    height: 780px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
  }

  .gallery__image:first-child {
    grid-column: 1 / 3;
    grid-row: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery__image:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery__image:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery__image:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer {
    margin-top: 60px;
    min-height: 1024px;
  }

  .footer.decorated-zone::after {
    inset-block-end: 22px;
  }
}
@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    margin: 17px 0 0 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin: 0;
  }

  .header__description {
    min-inline-size: 491px;
    margin-top: 114px;
  }

  .header {
    min-block-size: 768px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .content__section:first-child {
    column-gap: 10px;
    margin: 60px 20px 0 20px;
  }

  .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__section:nth-child(2) .section__title {
    min-inline-size: 315px;
  }

  .content__section:nth-child(2) .content__article {
    margin-block: 20px 0;
  }

  .content__section:nth-child(3) {
    column-gap: 10px;
  }

  .gallery {
    min-block-size: 1091px;
  }

  .gallery__grid {
    width: 984px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
  }

  .footer {
    min-block-size: 768px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}

.link:focus {
  outline: 1px solid var(--text-color);
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom-color: var(--button-focus-color);
}
